<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>hello</h1>
  <form action="/rename" method="post">
  <div class="container">
    <input type="text" name="previous" placeholder="old name" value="<%=previous%>" >
    <input type="text" name="new" placeholder="new name" value="">
    <input type="submit"  value="rename">
  </div>
  </form>
</body>
</html>