* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #262626;
  color: #fff;
  width: 100%;
  height: 100%;
}
.main {
  /* min-width: 500px;
  min-height: 500px; */
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  /* margin:10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group {
  display: grid;
  gap: 4px;
  margin-bottom: 10px;
  padding: 10px 150px;
}
input[type="text"],
textarea {
  padding: 18px;
  border-radius: 10px;
  background-color: antiquewhite;
  border: none;
  outline: none;
  width: 300px;
  margin-top: 20px;
}
button {
  padding: 5px 10px;
  border: none;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  margin-left: 250px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  height: 400px;
  /* border: 2px solid #fff; */
  padding: 10px 50px;
}
.box {
  margin-right: 20px;
  margin-top: 40px;
  min-width: 30px;
  min-height: 40px;
  background-color: #444;
  color: #fff;
  padding: 10px 10px;
  /* display: none;  <-- REMOVED THIS LINE */
}
